#graph {
	height: 98%;
	width: 98%;
	position: absolute;
	left: 1%;
	top: 1%;
	z-index:-1;
	background-color: #fff;
	display:none;
}

body {
	font-family: helvetica, arial sans-serif;
	color:#333;
}

a {
	text-decoration: none;
}

#timeframe{
	font-size: 0.8em;
	position:absolute;
	top:3px;
	left: 3px;
	z-index:999;
}

#menu{
	font-size: 0.8em;
	position:absolute;
	top:3px;
	right: 3px;
	z-index:999;
	display:none;
}

#tagline,
#loading {
	z-index:-1000;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	text-align: center;
}

#tagline{
	top:50%;
}

#loading {
	top:40%;
	width: 50px;
	height: 50px;
	border-radius: 18px;
	border:10px solid #333;
	Qborder:10px solid #FFE200;
	Qbackground-color: #FFE200;
	Qbackground-color: #333;
	animation-name: spin;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;    
}



@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(90deg);}
}

 .button-success,
.button-error,
.button-warning,
.button-secondary,
.button-pink {
	color: white;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}

.pure-menu-link:hover,
.pure-button{
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.pure-menu-link{
	border-radius: 4px;
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
}

.button-pink {
	background: #ff4081;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

